{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <p>Мы отправили вам инструкции по установке пароля, если учетная запись с указанным вами адресом электронной почты существует. Вы должны получить их в ближайшее время.</p>
      <p>Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, указанный при регистрации, и проверьте папку со спамом.</p>
    </div>
    <div class="col-4"></div>
  </div>
</div>


{% endblock %}
