{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1>Поле по улице {{field}}</h1>
  <a class="btn btn-primary" href="#">Добавить бронь</a>
  <table class="table table-hover">
      <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Адрес поля</th>
      <th scope="col">Имя пользователя</th>
      <th scope="col">Время брони</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  </tbody>

  </table>
</div>
  
  
    
    
{% endblock %}