{% extends "base.html" %}
{% load static %}
{% block content %}
  {% for field in fields %}
      <div class="container">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="250" src="/media/{{field.img}}"/>
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Адрес: {{ field.adress }}</h3>
            <strong class="d-inline-block mb-2 text-primary-emphasis">Покрытие: {{ field.cover }}</strong>
            <div class="mb-1 text-body-secondary">Время работы: 00:00</div>
            <p class="card-text mb-auto">О нас: {{field.description}}</p>
            <a href="{% url 'bookings' field.id %}" class="btn btn-primary g-col-3 " style="width: 150px;">
              Забронировать
            </a>
          </div>
        </div>
      </div>

  {% endfor %}
{% endblock %}