<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Подтверждение регистрации</title>
</head>
<body>
    <h2>Добро пожаловать, {{ user.username }}!</h2>
    <p>Благодарим вас за регистрацию на нашем сайте.</p>
    <p>Для завершения регистрации и активации вашего аккаунта, пожалуйста, перейдите по ссылке ниже:</p>
    
    <p>
        <a href="{{ confirmation_url }}">Подтвердить регистрацию</a>
    </p>
    
    <p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.</p>
    
    <p>С уважением,<br>Команда сайта</p>
</body>
</html>